body {
  background: rgba(255, 255, 255, 0.1); /* Transparent White */
  backdrop-filter: blur(10px); /* Blur effect */
  -webkit-backdrop-filter: blur(10px);
  min-height: 100vh;
}

#toast {
  visibility: hidden;
  min-width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 12px 16px;
  position: fixed;
  z-index: 99999;
  left: 50%;
  bottom: 30px;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  opacity: 0;
  transform: translateX(-50%);
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}

.error {
  color: red;
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.hidden {
  display: none;
}

nav {
  font-family: "Nunito", sans-serif;
}
nav .nav-link i {
  font-size: 20px;
}

.card {
  color: #fff;
}
.card h3 {
  font-size: 16px;
}

.book-error {
  font-size: 25px;
  font-weight: 600;
  color: red;
}

.content-head h1 {
  font-family: "Nunito", sans-serif;
  color: #fff;
}

@media (min-width: 576px) {
  .navbar-nav h4 {
    font-size: 16px;
  }
  .navbar-nav .nav-item i {
    font-size: 25px;
  }
  .navbar-nav i {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-brand {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-brand {
    font-size: 20px;
  }
  .navbar-nav h4 {
    font-size: 20px;
  }
  .navbar-nav .nav-item i {
    font-size: 20px;
  }
  .navbar-nav i {
    font-size: 20px;
  }
}
.search-btn, #logOut {
  border-radius: 20px;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  display: none;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 18px;
  transition: opacity 0.4s, transform 0.4s;
}
#scrollToTopBtn:hover {
  background-color: #555;
}

@media (min-width: 1200px) {
  #signInRedirectBtn, #signUpRedirectBtn {
    display: none;
  }
}
.card {
  width: 50%;
  background: transparent;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
.card .card-desc {
  background: linear-gradient(90deg, #deb887 0%, #d2a679 25%, #deb887 50%, #c49e64 75%, #deb887 100%);
}
.card .card-desc .fa-heart {
  color: red;
}
.card .card-img {
  width: 100%;
  height: 250px;
}
.card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 320px) {
  .card {
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .card {
    margin: 0 auto;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .card {
    margin: 0 auto;
    width: 60%;
  }
}
@media (min-width: 992px) {
  .card {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 50%;
  }
}
header {
  position: sticky;
}

nav {
  background-color: #f8f9fa;
}
nav img {
  width: 3%;
}
nav .search-pannel {
  margin: 20px;
}
nav .search-input {
  border-radius: 20px;
  padding: 5px 20px;
  width: 100%;
}
nav .nav-link.active {
  background-color: #198754;
  color: white !important;
  border-radius: 20px;
  padding: 5px 15px;
}

@media (min-width: 320px) {
  nav img {
    width: 10%;
  }
  form {
    margin: 30px 0;
  }
  .navbar-nav {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .navbar-nav li {
    margin: 0 10px;
  }
}
@media (min-width: 576px) {
  nav img {
    width: 10%;
  }
  form {
    margin: 30px 0;
  }
  .navbar-nav {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .navbar-nav li {
    margin: 0 10px;
  }
}
@media (min-width: 768px) {
  nav img {
    width: 10%;
  }
  form {
    margin: 30px 0;
  }
  .navbar-nav {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  nav img {
    width: 3%;
  }
  form {
    margin: 0;
  }
  .navbar-nav {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
body {
  background: url(../../images/wallpaper.png) no-repeat 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* optional */
  background-position: center center;
}

.content-head img {
  width: 5%;
}

.signup-container {
  -webkit-clip-path: path("M0,40 Q100,0 200,40 T500,40 L500,660 Q400,700 300,660 T0,660 Z");
          clip-path: path("M0,40 Q100,0 200,40 T500,40 L500,660 Q400,700 300,660 T0,660 Z");
  height: 700px;
  width: 500px;
  height: 700px;
  background: url("https://www.transparenttextures.com/patterns/old-wall.png") repeat, #f3eacb;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 40px 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 576px) {
  .signup-container {
    width: 300px;
    height: 700px;
  }
}
.signup-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 350px;
}
.signup-container form input {
  padding: 10px;
  border: 1px solid #b9a16b;
  background: #fdf9e3;
  border-radius: 4px;
  font-size: 16px;
}
.signup-container form button {
  padding: 10px;
  background-color: #b89b4c;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.signup-container form button:hover {
  background-color: #a2843f;
}
@media (max-width: 320px) {
  .signup-container {
    -webkit-clip-path: path("M0,40 Q60,0 120,40 T300,40 L300,660 Q240,700 180,660 T0,660 Z");
    clip-path: path("M0,40 Q60,0 120,40 T300,40 L300,660 Q240,700 180,660 T0,660 Z");
  }
}

.signin-container {
  -webkit-clip-path: path("M500,40 Q400,0 300,40 T0,40 L0,660 Q100,700 200,660 T500,660 Z");
          clip-path: path("M500,40 Q400,0 300,40 T0,40 L0,660 Q100,700 200,660 T500,660 Z");
  width: 500px;
  height: 700px;
  background: url("https://www.transparenttextures.com/patterns/old-wall.png") repeat, #f3eacb;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 40px 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 576px) {
  .signin-container {
    -webkit-clip-path: path("M300,24 Q240,0 180,24 T0,24 L0,396 Q60,420 120,396 T300,396 Z");
    clip-path: path("M300,24 Q240,0 180,24 T0,24 L0,396 Q60,420 120,396 T300,396 Z");
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  .signin-container {
    width: 300px;
    height: 420px;
  }
}
.signin-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 350px;
}
.signin-container form input {
  padding: 10px;
  border: 1px solid #b9a16b;
  background: #fdf9e3;
  border-radius: 4px;
  font-size: 16px;
}
.signin-container form button {
  padding: 10px;
  background-color: #b89b4c;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.signin-container form button:hover {
  background-color: #a2843f;
}

@media (min-width: 320px) and (max-width: 576px) {
  main {
    padding: 130px 0;
  }
  main .content-head img {
    width: 20%;
  }
}
.dark-mode .navbar, .dark-mode .header {
  background-color: #000;
  color: #ffffff;
}

.dark-mode .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.dark-mode .navbar-brand {
  color: #ffffff;
}

.dark-mode .search-bar input {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444;
}

.dark-mode .search-bar input::-moz-placeholder {
  color: #aaa;
}

.dark-mode .search-bar input::placeholder {
  color: #aaa;
}

.dark-mode .fa-heart-o {
  color: #ff6b81;
}

.dark-mode .card {
  background: rgba(0, 0, 0, 0.7); /* Transparent White */
}

.dark-mode .card-desc {
  background: #000;
}

.dark-mode button,
.dark-mode .icon-button {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.dark-mode i {
  color: #fff;
}

.search-input:focus {
  border-color: #198754;
}

.form-switch {
  padding-left: 50px;
}

.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);
}/*# sourceMappingURL=main.css.map */