.search-btn, #logOut{
    border-radius: 20px;
  }

  #scrollToTopBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  display: none;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  font-size: 18px;
  transition: opacity 0.4s, transform 0.4s;
 &:hover {
  background-color: #555;
}
}


  @media (min-width: 1200px) {

    #signInRedirectBtn , #signUpRedirectBtn{
      display: none;
    }
    
  }

 