  body{
    background: rgba(255, 255, 255, 0.1); /* Transparent White */
      backdrop-filter: blur(10px); /* Blur effect */
      -webkit-backdrop-filter: blur(10px);  
  }




.card {
  width: 50%;
  background: transparent;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);

  .card-desc{
    .fa-heart{
      color:red
    }
    background: linear-gradient(
  90deg,
  #deb887 0%,
  #d2a679 25%,
  #deb887 50%,
  #c49e64 75%,
  #deb887 100%
);
    // background: #E07B39
  }



  .card-img {
    width: 100%;
    height: 250px; 

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
