.card {
  width: 50%;
  background: transparent;
  border: 0;

  .card-desc{
    .fa-heart{
      color:red
    }
    background: linear-gradient(
  90deg,
  #deb887 0%,
  #d2a679 25%,
  #deb887 50%,
  #c49e64 75%,
  #deb887 100%
);
  }

  .card-img {
    width: 100%;
    height: 250px; 

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
