.error {
    color: red;
    font-size: 14px;
  }
  .valid {
    color: green;
  }
  .invalid {
    color: red;
  }
  
  .hidden{
    display: none;
  }

  nav{
    font-family: "Nunito" , sans-serif;
  }

  .card{
    color: #fff;
    h3{
      font-size: 16px;
    }
  }