.error {
    color: red;
    font-size: 14px;
  }
  .valid {
    color: green;
  }
  .invalid {
    color: red;
  }
  
  .hidden{
    display: none;
  }

  nav{
    font-family: "Nunito" , sans-serif;
    .nav-link{
      i{

        font-size: 20px;
      }
    }
  }

  .card{
    color: #fff;
    h3{
      font-size: 16px;
    }
  }

  .book-error{
    font-size: 25px;
    font-weight: 600;
    color: red;

  }

