.error {
    color: red;
    font-size: 14px;
  }
  .valid {
    color: green;
  }
  .invalid {
    color: red;
  }
  
  .hidden{
    display: none;
  }

  nav{
    font-family: "Nunito" , sans-serif;
    .nav-link{
      i{

        font-size: 20px;
      }
    }
  }

  .card{
    color: #fff;
    h3{
      font-size: 16px;
    }
  }

  .book-error{
    font-size: 25px;
    font-weight: 600;
    color: red;

  }

  @media (min-width: 576px) { 
       .navbar-nav {
        
        h4{
          font-size: 16px;
        }
        
       .nav-item{
        // background: salmon;
        i{
          // background: red;
          font-size: 25px;
        }
      }
      i{
        // background: red;
        font-size: 25px;
      }
    
       }
     
}

  @media (min-width: 768px) { 
       .navbar {
        .navbar-brand {
          font-size: 40px;
        }
       }
     
}
  @media (min-width: 992px) { 
       .navbar {
        .navbar-brand {
          font-size: 20px;
        }
       }

       .navbar-nav {
        
        h4{
          font-size: 20px;
        }
        
       .nav-item{
        // background: salmon;
        i{
          // background: red;
          font-size: 20px;
        }
      }
      i{
        // background: red;
        font-size: 20px;
      }
    
       }
     
}

