@mixin flexbox ($dp  ,$jc ,$ai ,$fd:row ){
    display: $dp;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;

}


@mixin page{
    width: 500px;
    height: 700px;
    background: 
      url('https://www.transparenttextures.com/patterns/old-wall.png') repeat,
      #f3eacb;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05), 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 40px 30px;
    overflow: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
      max-width: 350px;
  
      input {
        padding: 10px;
        border: 1px solid #b9a16b;
        background: #fdf9e3;
        border-radius: 4px;
        font-size: 16px;
      }
  
      button{
        @include submit-btn
      }
    }
}